services:
  app:
    tty: true
    networks:
      - app_network
    build:
      context: .
    ports:
      - "3000:3000"
      - "5555:5555"
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    environment:
      - TZ=Asia/Tokyo # ★appコンテナも日本時間にする
    env_file: # ★この行を追加
      - ./.env # ★この行を追加
    depends_on:
      - db
    command: npm run dev
  db:
    image: postgres:15
    hostname: db
    env_file:
      - ./.env
    networks:
      - app_network
    environment:
      - TZ=Asia/Tokyo
      - POSTGRES_DB=$DB_NAME
      - POSTGRES_USER=$DB_USER
      - POSTGRES_PASSWORD=$DB_PASS
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d
  minio:
    image: minio/minio
    ports:
      - "9000:9000" # API用
      - "9001:9001" # 管理画面用
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ":9001"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes: # このセクションを追加します
  db_data: # db_dataボリュームを定義
  node_modules:
